.admin-page {
  padding: 20px;
  font-family: sans-serif;
  background-color: var(--color-bg-section);
}
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header h2 {
  color: var(--color-primary);
  font-size: 24px;
}
.header img {
  max-width: 100px;
}
.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
  justify-content: center;
}

.filters select,
.filters input,
.filters button {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid var(--color-primary);
  
}
.filters button {
cursor:pointer
}
.filters button i{
  color: blue;

}

.table-wrapper {
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background: var(--color-primary-light);
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.status-badge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 12px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 5px;
}

.pending {
  background: orange;
}
.confirmed {
  background: green;
}
.attended {
  background: blue;
}
.canceled {
  background: red;
}

.actions button {
  margin: 3px;
  border: none;
  padding: 5px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.actions button:hover {
  opacity: 0.8;
}

/* toast */
/* Overlay زي المودال */
.toast-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 999999;
}

/* يظهر */
.toast-overlay.show {
  opacity: 1;
  visibility: visible;
}

/* الكارت نفسه */
.toast-box {
  background: #fff;
  padding: 45px 35px;
  border-radius: 16px;
  text-align: center;
  min-width: 280px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(20px);
  transition: 0.3s ease;
}

.toast-overlay.show .toast-box {
  transform: translateY(0);
}

/* الأيقونة */
.toast-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

/* النص */
.toast-text {
  padding-bottom: 18px;
  font-size: 20px;
  font-weight: bold;
}
.toast-btn {
  margin-top: 15px;
  padding: 8px 20px;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
tbody tr:nth-child(even) {
  background-color: #e9e8e8;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #bec9df;
}
/* تنسيقات ال MODAL  */
/* الخلفية */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* اخفاء */
.hidden {
  display: none;
}

/* محتوى المودال */
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease-in-out;
}

/* عناصر الفورم */
.modal-content input,
.modal-content select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* الأزرار */
.modal-content button {
  margin-top: 12px;
  padding: 10px;
  width: 48%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modal-content button:first-of-type {
  background: #28a745;
  color: white;
}

.modal-content button:last-of-type {
  background: #dc3545;
  color: white;
}

/* أنيميشن */
@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.logout-btn {
  background: var(--color-primary-light);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}
.logout-btn:hover {
  background: #ff4d4d;

}
.logout-btn i {
  margin-left: 6px;
}